node_modules/
.next/
out/
.env
.env.local
.env.production
.env.*.local
.DS_Store
*.tsbuildinfo
next-env.d.ts
.vercel
.turbo
dist/
coverage/
*.log
.pnpm-debug.log*
public/sw.js
public/workbox-*.js
public/worker-*.js
public/sw.js.map
public/workbox-*.js.map
public/worker-*.js.map
